.App {

  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.card{
background-color:#99ff66;
width:500px;
margin:auto 0;
padding: 10px;
font-size: 20px;
border: 2px  solid black;
border-radius: 2px;
}
.cards{
  background-color:white;

  width:500px;
  margin:auto 0;
  padding: 10px;
  font-size: 20px;
  border: 2px  solid black;

}
center{
  background: radial-gradient(white,#61b7d4);
}
.btn{
  width:100px;
  padding:4px;
}
#logins{
  font-size: 4em;
}
#name2{
  font-size: 3em;
}

.loginlogut
{
  font-size: 2em;
}
